<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/nav.ejs') %>

            <main>
                <% if (note.length > 0) { %>
                    <div class="grid">
                        <% for (let n of note) { %>
                            <article class="card">
                                <header class="card-body">
                                    <h1 >
                                        <%= n.notes%>
                                    </h1>
                                </header>
                                <div class="card__actions">
                                    <a href="/admin/edit-product" class="btn">Edit</a>
                                    <form action="/admin/delete-product" method="POST">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('./includes/end.ejs') %>